*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
  background-image: url('14vzeaI.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }

h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin: 10px 50px 20px;
    margin-top: 3%;
}

p{
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 10px 50px 20px;
    margin-top: 3%;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--dark);
    transition: all 0.5s;
    position: fixed;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 10rem;
}

.navigation ul li a{
    color: rgb(8, 8, 39);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: rgb(255, 255, 255);
}